# =========================
# Data files (DO NOT COMMIT)
# =========================
*.csv
*.xlsx
*.parquet
*.json

# =========================
# Python artifacts
# =========================
__pycache__/
*.pyc

# =========================
# Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Local artifacts
# =========================
artifacts/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
